body{
    font-family: Montserrat;
    text-align: center;
}

/* Headings */
h1, h2,h3, h4, h5, h6{
    font-family: Montserrat-Bold;
}

.big-heading{
    font-family: Montserrat-Black;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: black;
}

/* Containers */
.container-fluid{
    padding: 7% 15%;
}

/* Sections */
.coloured-section{
    background-image: url(http://il2.picdn.net/shutterstock/videos/6985639/thumb/1.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px;
    /* background-color: green;
    color: #FFF; */
}

.new-coloured-section{
    background-image: url(http://il2.picdn.net/shutterstock/videos/6985639/thumb/1.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px;
    /* background-color: green;
    color: #FFF; */
}

.logo {
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

.new-class-width{
    width: 50%;
    margin:0 auto;
    text-align: center;
}

#projects img{
    width: 55%;
    height: 80%;
    border-radius: 100%;
    margin: 20px;
}

.white-section{
    background-color: #FFF;
}

/* Title Section */
#title{
    text-align: left;
}

#title .container-fluid{
    padding: 3% 15% 7% 15%;
}

.title-image{
    width: 80%;
    transform: rotate(-15deg);
    position: absolute;
    right: 22%;
}

.navbar{
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: Montserrat-Light;
    font-size: 1.2 rem;
}

.download-button{
    margin: 5% 3% 5% 3%;
}

/* Features Section */
#features{
    position: relative;
}

#features div div{
    padding-right: 10%;
}

.feature-title{
    font-size: 1.5rem;
}

#features p{
    color: #8f8f8f;
}

#features i{
    color: #ef72d8;
    margin-bottom: 1rem;
}

#features i:hover{
    color: #d54cff;
}

/* Testimonials Sections */
.testimonial-text{
    font-size: 2.5rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 70%;
    margin: 20px;
}

/* category Section */
#category{
    padding: 100px;
}

.category-column{
    padding: 3% 2%;
}

.category-heading{
    font-size: 3rem;
    line-height: 1.5; 
}

.category-text{
    font-size: 3rem;
    line-height: 1.5;
}

.card-header{
    font-size: 1.5rem;
}

/* Developers Section */
.team {
    float: left;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 2px;
    border: 1px solid #000;
}

#developers i{
    padding: 20px 10px;
}

.developer-image{
    width: 55%;
    height: 80%;
    border-radius: 100%;
    margin: 20px;
}

#developers a{
    color: #8f8f8f;
    text-decoration: none;
}

#developers a:hover{
    color: #5f5e5e;
}

/* Footer Section */
#footer p{
    color: #8f8f8f;
    padding-top: 2%;
}

#footer i{
    padding: 20px 10px;
}

/* Media Query */
@media (max-width: 1045px){
    #title{
        text-align: center;
    }
}

#banner {
    background-attachment: scroll, fixed;
    background-image: url("images/overlay.png"), url("../../images/banner.jpg");
    background-position: top left, center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    color: #fff;
    padding: 12em 0 20em 0;
    text-align: center;
}

    #banner :last-child {
        margin-bottom: 0;
    }

    #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
        color: #fff;
    }

    #banner h2 {
        font-size: 3.5em;
        line-height: 1em;
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    #banner p {
        font-size: 1.25em;
        margin-bottom: 1.75em;
    }

    #banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
			color: #fff;
			min-width: 12em;
		}

			#banner input[type="submit"]:hover,
			#banner input[type="reset"]:hover,
			#banner input[type="button"]:hover,
			#banner .button:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}

			#banner input[type="submit"]:active,
			#banner input[type="reset"]:active,
			#banner input[type="button"]:active,
			#banner .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#banner input[type="submit"].primary,
			#banner input[type="reset"].primary,
			#banner input[type="button"].primary,
			#banner .button.primary {
				background: #fff;
				color: #666 !important;
            }
            
            @media screen and (max-width: 1680px) {
        
                /* Banner */
        
                    #banner {
                        padding: 10em 0 18em 0;
                    }
        
            }
        


	@media screen and (max-width: 1280px) {
		/* Banner */

			#banner {
				background-attachment: scroll;
			}

				#banner h2 {
					font-size: 3.5em;
				}

    }
    
    #banner {
        padding: 4em 0;
    }

        /* #banner h2 {
            font-size: 2.25em;
        } */

        #banner p {
            font-size: 1.25em;
        }

        #banner {
            padding: 5em 3em 4em 3em;
        }

